div {
  text-align: center;
}

.grid {
  width: 900px; height: 900px;
  display: grid;
  grid-template-rows: repeat(var(--size), auto);
  grid-template-columns: repeat(var(--size), auto);
  font-family: Arial, sans-serif;
}

.gridItem {
  background-color: white;
  grid-column-start: auto;
  grid-row-start: auto;
}

.hovering {
  background-color: black;
}